{% extends 'base.html' %}
{% load static %}

{% block css %}
{% comment %} <link rel="stylesheet" href="{% static 'stylesheets/bootstrap.css' %}"> {% endcomment %}
<h1 class="alert alert-danger">hi</h1>

{% endblock css %}

{% block content %}
  <!-- static을 쓰면 django는 모든 static 폴더를 들여다본다(templates원리랑 같음)-->
  <!-- extends 밑에 load static 태그를 넣어줘야 작동한다.(필수!!)-->
  <img width="400" height="auto" src="{% static 'articles/images/coffee.jpg' %}" alt="coffee pic">
<h1>Index Page</h1>
<a href="{% url 'articles:create' %}">게시글 작성하기</a>

<!-- 게시글 목록 시작-->
{% for article in articles %}
  <h2>{{ article.title}}</h2>
  <p>{{ article.content }}</p>
  <p>생성일 : {{ article.created_at }} 수정일 : {{ article.updated_at }}</p>
  <a href="{% url 'articles:detail' article.pk %}">[DETAIL]</a>
{% endfor %}
<!-- 게시글 목록 끝 -->
{% endblock %}